<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Spin The Wheel</title>
    <script src="JavaScript/wheel.js" defer></script>
</head>
<body>
    <%- include('./WheelCode.ejs') %>
</body>
</html>